<div class="w-full h-full bg-semiLightYellow">
  <div class="w-full flex justify-end p-4">
    <button mat-dialog-close class="text-darkBrown hover:text-darkYellow">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <p>FORM</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      class="bg-yellow-100 px-4 py-2 rounded-3xl hover:bg-darkBrown hover:text-yellow-100 text-darkBrown"
      mat-button
      mat-dialog-close
    >
      <p class="font-semibold">Action</p>
    </button>
  </mat-dialog-actions>
</div>
