<span class="flex justify-between -m-5">
  <div
    class="h-4 w-4 bg-semiLightYellow border-darkBrown border-2 rounded-full"
  ></div>
  <div
    class="h-4 w-4 bg-semiLightYellow border-darkBrown border-2 rounded-full"
  ></div>
</span>
<ng-content></ng-content>
<span class="flex justify-between -m-5">
  <div
    class="h-4 w-4 bg-semiLightYellow border-darkBrown border-2 rounded-full"
  ></div>
  <div
    class="h-4 w-4 bg-semiLightYellow border-darkBrown border-2 rounded-full"
  ></div>
</span>
